
{%extends 'new/base.html'%}
{% block title %}Детская литература{% endblock %}
{% block shapka %}

    <div class="features">
        <h1>Детская литература</h1>

        {% for il in books %}

            <div  class="alert alert-waning">
                <h3>{{il.title}}</h3>
                <p>{{il.author}}</p>
                <p>{{il.briefly}}</p>
                <a href="{% url 'dinam_chil' il.id%}" class="btn btn-warning">Смотреть</a>
            </div>
        {%endfor%}


    </div>
{% endblock %}
